<section>
  <div class="page-header">
    <h1>{{vm.customer._id ? 'Edit Customer' : 'New Customer'}}</h1>
  </div>
  <div class="col-md-12">
    <form name="vm.form.customerForm" class="" ng-submit="vm.save(vm.form.customerForm.$valid)" novalidate>
      <fieldset>
        <div ng-show="vm.error" class="text-danger">
          <strong ng-bind="vm.error"></strong>
        </div>
        <div class="form-group" show-errors>
          <div class = "row">
            <div class="col-sm-6 text-center">
              <i class="glyphicon glyphicon-user cust-profile"
                 ng-class="{'text-primary': vm.customer.referred, 'text-danger': !vm.customer.referred}"></i>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label class="control-label" for="firstName">First Name</label>
                <div class="controls">
                  <input name="firstName" type="text" ng-model="vm.customer.firstName" id="name" class="form-control" placeholder="firstName" required>
                </div>
              </div>
              <div class="form-group">
                <label class="control-label" for="lastName">Last Name</label>
                <div class="controls">
                  <input name="lastName" type="text" ng-model="vm.customer.lastName" id="name" class="form-control" placeholder="lastName" required>
                </div>
              </div>
              <div class="form-group">
                <label class="control-label" for="suburb">Suburb</label>
                <div class="controls">
                  <input name="suburb" type="text" ng-model="vm.customer.suburb" id="name" class="form-control" placeholder="suburb" required>
                </div>
              </div>
              <div class="form-group">
                <label class="control-label" for="country">Country</label>
                <div class="controls">
                  <input name="country" type="text" ng-model="vm.customer.country" id="name" class="form-control" placeholder="country" required>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6 col-sm-push-6">
            <div class="form-group">
              <label class="control-label" for="phone">Phone</label>
              <div class="controls">
                <input name="phone" type="text" ng-model="vm.customer.phone" id="name" class="form-control" placeholder="phone" required>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label" for="email">Email</label>
              <div class="controls">
                <input name="email" type="text" ng-model="vm.customer.email" id="name" class="form-control" placeholder="email" required>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-sm-pull-6">
            <div class="form-group">
              <label for="referred" class="control-label">Referred</label>
              <div class="controls">
                <input name="referred" type="checkbox" ng-model="vm.customer.referred" id="name" class="form-control checkbox-left" placeholder="referred" required>
              </div>
            </div>
            <div class="form-group">
              <label for="channel" class="control-label">Channel</label>
              <div class="controls">
                <input name="channel" type="text" ng-model="vm.customer.channel" id="name" class="form-control" placeholder="channel" required>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label for="industry" class="control-label">Industry</label>
              <div class="controls">
                <input name="industry" type="text" ng-model="vm.customer.industry" id="name" class="form-control" placeholder="industry" required>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <button type="submit" class="btn btn-lg btn-success">{{vm.customer._id ? 'Update' : 'Create'}}</button>
            </div>
          </div>
        </div>
          <div ng-messages="vm.form.customerForm.name.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Customer name is required.</p>
          </div>
        </div>
      </fieldset>
    </form>
  </div>
</section>
